---
---

body
	font-family: avenir

section
	padding: 20px
	&:nth-child(odd)
		background: #f6f6f6

section.hero
	position: relative
	text-align: center
	margin: 0
	background: #000
	height: 400px
	padding-top: 150px
	.backdrop
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		opacity: 0.3
		-webkit-filter: blur(4px)
	.hero-content
		font-size: 2em
		position: relative
		z-index: 10
		font-weight: bold
		color: #fff
	&.jumbotron
		h1, h2, h3, h4, p
			font-size: inherit

.navbar
	margin-bottom: 0
	border: 0
	border-radius: 0